<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark px-5" style="background-color: #182459">
    <a class="navbar-brand" href="/"><strong>팔월의 독서<small>Beta</small></strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">리뷰 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/book">리뷰 작성</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notice">공지사항</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/book" method="GET">
            <input class="form-control mr-sm-2" type="search" name="query" id="nav-query" placeholder="도서 검색" aria-label="Search" required>
            <input type="hidden" name="start" value="1">
            <input type="hidden" name="display" value="10">
            <button class="btn btn-outline-light my-2 my-sm-0 mr-2" id="nav-search" type="submit">검색</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <button th:if="${userNickname == null}" type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal">로그인</button>
                <div th:if="${userNickname != null}" class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:text="${userNickname} + '님 환영합니다'"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user">내 정보 관리</a>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/posts">내가 쓴 리뷰</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><strong>소셜 로그인</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a role="button" class="btn btn-primary btn-block border-0" href="/oauth2/authorization/google">
                    <img src="/img/app/google_img.png" width="42px" height="42px"/>  구글 계정으로 로그인</a><hr class="m-1">
                <a role="button" class="btn btn-success btn-block border-0" href="/oauth2/authorization/naver">
                    <img src="/img/app/naver_img.png" width="42px" height="42px"/>  네이버 계정으로 로그인</a><hr class="m-1">
                <a role="button" class="btn btn-warning btn-block border-0" href="/oauth2/authorization/kakao">
                    <img src="/img/app/kakao_img.png" width="42px" height="42px"/>  카카오 계정으로 로그인</a>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>