<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">팔월의 독서</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">리뷰 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/book/list">책 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">내가 쓴 리뷰</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/book/list" method="GET">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="책 검색" aria-label="Search">
            <input type="hidden" name="start" value="1">
            <input type="hidden" name="display" value="10">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
            </li>
        </ul>
    </div>
</nav>