<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">팔월의 독서</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/posts">리뷰 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/book/list">책 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/user">내가 쓴 리뷰</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/book/list" method="GET">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="책 검색" aria-label="Search">
            <input type="hidden" name="start" value="1">
            <input type="hidden" name="display" value="10">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button th:if="${userNickname == null}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">로그인</button>
                <a th:if="${userNickname != null}" class="nav-link" href="#" th:text="${userNickname} + '님'"></a>
            </li>
            <li th:if="${userNickname != null}" class="nav-item">
                <a role="button" class="btn btn-primary" href="/logout">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">소셜 로그인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a role="button" class="btn btn-primary btn-block" href="/oauth2/authorization/google">구글 계정으로 로그인</a>
                <a role="button" class="btn btn-success btn-block" href="/oauth2/authorization/naver">네이버 계정으로 로그인</a>
                <a role="button" class="btn btn-warning btn-block" href="/oauth2/authorization/kakao">카카오 계정으로 로그인</a>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>