<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto w-75">

                <!-- 책 정보 -->
                <div class="row">
                    <div class="col-auto">
                        <img th:src="${book.image}" alt="...">
                    </div>
                    <div class="col">
                        <h5 class="font-weight-bold" th:utext="${book.title}"></h5>
                        <span th:text="${book.author} + ' 지음'"></span> |
                        <span th:text="${book.publisher}"></span>
                        <p><small class="text-muted" th:utext="${book.description}"></small></p>
                        <a class="btn btn-info" th:href="'/posts/write?bookId=' + ${book.id}">리뷰 작성</a>
                        <a class="btn btn-success book-link" th:href="${book.link}" target="_blank">
                            <img src="/img/app/naver_img.png" width="18px" height="18px"/> 상세 정보</a>
                        <input type="hidden" id="bookId" name="bookId" th:value="${book.id}">
                    </div>
                </div>
                <hr>

                <!-- 리뷰 목록 -->
                <h5 class="text-center py-3"><strong>이 책에 대한 리뷰</strong></h5>
                <div th:if="${postPage.empty}" class="text-center">등록된 리뷰가 없습니다.</div>
                <div th:each="post:${postPage.content}">
                    <hr>
                    <div class="row">
                        <div class="col-9">
                            <a class="text-info" th:href="'/posts/' + ${post.id}"><strong th:text="${post.subject}"></strong></a>
                            <span class="badge badge-light" th:text="'조회수' + ${post.viewCount}"></span>
                        </div>
                        <div class="col">
                            <p class="m-0" style="font-size: 12px;" th:text="${post.author} + ' 님'"></p>
                            <p class="m-0 text-muted" style="font-size: 12px;" th:text="${post.createdDate}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-secondary" th:text="${post.content}"></p>
                        </div>
                    </div>
                </div>

                <!-- pagination -->
                <div th:if="${!postPage.empty}" class="container mt-5">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-auto">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a th:if="${!postPage.first}" type="button" class="btn btn-secondary"
                                   th:href="@{/posts(page=${postPage.number-1})}">이전 페이지</a>
                                <a th:if="${postPage.first}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">이전 페이지</a>
                                <a th:if="${!postPage.last}" type="button" class="btn btn-secondary"
                                   th:href="@{/posts(page=${postPage.number+1})}">다음 페이지</a>
                                <a th:if="${postPage.last}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">다음 페이지</a>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>