{{>layout/header}}
    <!-- 검색창 -->
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Search</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="책 검색">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>

    <!-- 리스트 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>제목</th>
            <th>이미지</th>
            <th>저자</th>
            <th>출판사</th>
            <th>링크</th>
            <th>isbn</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#books}}
            <tr>
                <td>{{title}}</td>
                <td><img src={{image}} class="img-thumbnail" alt="..."></td>
                <td>{{author}}</td>
                <td>{{publisher}}</td>
                <td>{{link}}</td>
                <td>{{isbn}}</td>
            </tr>
        {{/books}}
        </tbody>
    </table>
{{>layout/footer}}