<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto">
                <!-- 책 정보 -->
                <h1>책 정보</h1>
                <div class="card mt-5" style="width: 750px;">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img class="card-img img-thumbnail book-image" th:src="${book.image}" alt="...">
                        </div>
                        <div class="col">
                            <div class="card-body py-1">
                                <h6 class="card-title mb-0 book-title" th:utext="${book.title}"></h6>
                                <p class="card-text mb-0">
                                    <span class="book-author" th:text="${book.author}"></span> |
                                    <span class="book-publisher" th:text="${book.publisher}"></span> |
                                    <span class="book-pubdate" th:text="${book.pubdate}"></span>
                                </p>
                                <p class="card-text"><small class="text-muted book-description" th:utext="${book.description}"></small></p>
                                <a class="btn btn-primary" th:href="'/posts/write?bookId=' + ${book.id}">리뷰 작성</a>
                                <a class="btn btn-success book-link" th:href="${book.link}" target="_blank">상세 정보<small>Naver</small></a>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>리뷰 목록</h1>
                <div th:if="${postPage.empty}">등록된 리뷰가 없습니다.</div>
                <table th:if="${!postPage.empty}" class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody th:each="post:${postPage.content}">
                    <tr>
                        <td th:text="${post.id}"></td>
                        <td><a th:href="'/posts/'+ ${post.id}" th:text="${post.subject}"></a></td>
                        <td th:text="${post.author}"></td>
                        <td th:text="${post.createdDate}"></td>
                        <td th:text="${post.viewCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- pagination -->
    <nav th:if="${!postPage.empty}" aria-label="Page navigation">
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">
                    <li th:if="${!postPage.first}" class="page-item">
                        <a class="page-link"
                           th:href="@{/posts(page=${postPage.number-1})}">Previous</a>
                    </li>
                    <li th:if="${postPage.first}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col">
                <ul class="pagination justify-content-center">
                    <li th:if="${!postPage.last}" class="page-item">
                        <a class="page-link"
                           th:href="@{/posts(page=${postPage.number+1})}">Next</a>
                    </li>
                    <li th:if="${postPage.last}" class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <th:block th:include="fragments/footer"></th:block>
</body>
</html>