<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">가볍게 쓰고 공유하는 독서일기</h2>
            <p class="lead">책 읽고 일기 쓰듯이 리뷰 적으세용~ 다른 사람들이 적은 리뷰도 볼 수 있어용</p>
            <a class="btn btn-primary" href="/search/book">리뷰 작성</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col"></div>

            <!-- recent reviews -->
            <div class="col-lg-auto py-3">
                <h4 class="mb-3">최신 리뷰</h4>
                <div th:if="${postPage.empty}">등록된 리뷰가 없습니다.</div>
                <th:block th:if="${!postPage.empty}">
                    <div th:each="post:${postPage.content}" class="card mt-5" style="width: 750px;">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img th:src="${post.bookImage}" width="82" height="124" class="card-img img-thumbnail" alt="...">
                                <p th:utext="${post.bookTitle}"></p>
                            </div>
                            <div class="col">
                                <div class="card-body py-1">
                                    <p class="card-text mb-0">
                                        <span th:utext="${post.subject}"></span> |
                                        <span th:utext="${post.author}"></span> |
                                        <span th:text="${post.createdDate}"></span>
                                    </p>
                                    <p class="card-text"><small class="text-muted" th:utext="${post.content}"></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/index.js"></script>
</body>
</html>