<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <th:block th:include="fragments/header"></th:block>
    <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto" style="min-width: 75%; max-width: 750px;">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-start align-items-center">
                            <h3>공지사항</h3>
                        </div>
                        <p class="py-3 m-0">
                            안녕하세요. 팔월의 독서 개발자입니다.<br>
                            팔월의 독서는 개발 연습을 위해 1인 개발로 제작된 사이트입니다.<br>
                            따라서 부족함이 많지만, 계속해서 활발하게 개발을 진행하고 있습니다.<br>
                            부족한 기능이나마 이용해주시고 발전하는 모습을 지켜봐주시면 정말 감사드리겠습니다! :)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>