<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <th:block th:include="fragments/header"></th:block>
    <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto" style="min-width: 75%">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-start align-items-center">
                            <h3>공지사항</h3>
                        </div>
                        <p class="py-3 m-0">
                            안녕하세요. 팔월의 독서 개발자입니다. ><<br>
                            테스트 유저 여러분들에게 깊은 감사의 말씀을 드립니다.<br><br>
                            여러분들의 역할은 팔월이 독서를 마음껏 이용하면서 생기는 버그를 저에게 알려주는 것입니다.<br>
                            다소 악의적으로 이용해주셔도 좋습니다. <br>
                            예를 들면 닉네임을 100글자로 적어볼까? 같은 것....<br><br>
                            하지만 너무 많은 트래픽을 유발하는 행동은 삼가 부탁드려요ㅠㅠ<br>
                            안그러면 제게 요금폭탄이 떨어질 수도 있습니다 흑흑<br>
                            (너무 많은 트래픽 유발 행동 = 글 100개 쓰기, 검색 100번 하기, 매크로 돌리기 등등)<br><br>
                            혹은 기능이나 디자인 측면에서 추가하고 싶거나 바꾸고 싶은 부분이 있다면 마음껏 건의해주세요.<br><br>
                            아직 부족한 점이 많으니 고생이 많겠구나~ 하면서 버그를 열심히 날려주시면 정말 감사드리겠습니다!<br>
                            그럼 좋은 하루~루루룰ㄹ룽
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>