<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <h3 class="my-5 text-center"><strong>리뷰 목록</strong></h3>
                <div th:if="${postPage.empty}" class="text-center">등록된 리뷰가 없습니다.</div>

                <div th:each="post:${postPage.content}" class="card mt-2" style="max-width: 750px;">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img class="card-img img-thumbnail book-image" th:src="${post.bookImage}" alt="...">
                        </div>
                        <div class="col">
                            <div class="card-body py-1">
                                <h6 class="card-title mb-0 book-title" th:utext="${post.bookTitle}"></h6>
                                <p class="card-text mb-0">
                                    <span class="book-author" th:utext="${post.bookAuthor}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col">
                            <a th:href="'/posts/'+ ${post.id}" th:text="${post.subject}"></a>
                            <p><small th:text="${post.author} + '님이 쓴 리뷰'"></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- pagination -->
    <div th:if="${!postPage.empty}" class="container my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a th:if="${!postPage.first}" type="button" class="btn btn-secondary"
                       th:href="@{/posts(page=${postPage.number-1})}">이전 페이지</a>
                    <a th:if="${postPage.first}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">이전 페이지</a>
                    <a th:if="${!postPage.last}" type="button" class="btn btn-secondary"
                       th:href="@{/posts(page=${postPage.number+1})}">다음 페이지</a>
                    <a th:if="${postPage.last}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">다음 페이지</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/nav-bar.js"></script>
</body>
</body>
</html>