<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto">
                <h1>리뷰 목록</h1>
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>책 정보</th>
                        </tr>
                    </thead>
                    <tbody th:each="post:${posts}">
                        <tr>
                            <td th:text="${post.id}"></td>
                            <td><a th:href="'/posts/'+ ${post.id}" th:text="${post.subject}"></a></td>
                            <td th:text="${post.author}"></td>
                            <td th:text="${post.createdDate}"></td>
                            <td>
                                <img class="img-thumbnail" th:src="${post.bookImage}" width="82" height="124" alt="...">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
</body>
</html>