<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.subject} + ' - ' + ${post.author} + '님의 리뷰'"></title>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto w-75">

                <!-- 책 정보 -->
                <div class="row">
                    <div class="col-auto">
                        <img class="book-image" th:src="${book.image}" alt="...">
                    </div>
                    <div class="col">
                        <a class="book-title text-info" th:href="'/book/' + ${book.id}">
                            <h5 class="font-weight-bold" th:utext="${book.title}"></h5>
                        </a>
                        <span class="book-author" th:text="${book.author} + ' 지음'"></span> |
                        <span th:text="${book.publisher}"></span>
                        <input type="hidden" id="bookId" name="bookId" th:value="${book.id}">
                    </div>
                </div>
                <hr>

                <!-- 리뷰 -->
                <div class="row">
                    <div class="col">
                        <div class="post">
                            <div class="d-flex justify-content-start align-items-center">
                                <h3 class="font-weight-bold" th:text="${post.subject}"></h3>
                                <span class="badge badge-light" th:text="'조회수' + ${post.viewCount}"></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="post-author text-muted" th:text="'작성자 : ' + ${author}"></span>
                                <span class="post-date text-muted" th:text="${post.createdDate}"></span>
                            </div>
                            <p class="py-3 m-0" th:utext="${post.content}"></p>
                            <input type="hidden" id="postId" name="postId" th:value="${post.id}">
                        </div>
                    </div>
                </div>
                <hr>

                <a type="button" href="/posts" class="btn btn-info">리뷰 목록</a>
                <a th:if="${userNickname == post.author}" type="button" class="btn btn-secondary" th:href="'/posts/update/' + ${post.id}">수정</a>
                <button th:if="${userNickname == post.author}" type="button" id="btn-delete" class="btn btn-dark">삭제</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/posts-detail.js"></script>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>