<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>리뷰 목록</title>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto w-75">
                <h3 class="my-5 text-center"><strong>리뷰 목록</strong></h3>
                <div th:if="${postPage.empty}" class="text-center">등록된 리뷰가 없습니다.</div>
                <div th:each="post:${postPage.content}">
                    <hr>
                    <div class="row pb-3">
                        <div class="col-auto">
                            <img th:src="${post.bookImage}" alt="..." style="width:40px; height:60px;">
                        </div>
                        <div class="col">
                            <p class="m-0"><a class="font-weight-bold" th:utext="${post.bookTitle}" th:href="'/book/' + ${post.bookId}"></a></p>
                            <span><small th:utext="${post.bookAuthor} + ' 지음'"></small></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <a class="text-info" th:href="'/posts/' + ${post.id}"><strong th:text="${post.subject}"></strong></a>
                            <span class="badge badge-light" th:text="'조회수' + ${post.viewCount}"></span>
                        </div>
                        <div class="col">
                            <p class="m-0" style="font-size: 12px;" th:text="${post.author} + ' 님'"></p>
                            <p class="m-0 text-muted" style="font-size: 12px;" th:text="${post.createdDate}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-secondary" th:text="${post.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- pagination -->
    <div th:if="${!postPage.empty}" class="container my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a th:if="${!postPage.first}" type="button" class="btn btn-secondary"
                       th:href="@{/posts(page=${postPage.number-1})}">이전 페이지</a>
                    <a th:if="${postPage.first}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">이전 페이지</a>
                    <a th:if="${!postPage.last}" type="button" class="btn btn-secondary"
                       th:href="@{/posts(page=${postPage.number+1})}">다음 페이지</a>
                    <a th:if="${postPage.last}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">다음 페이지</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/nav-bar.js"></script>
</body>
</body>
</html>