<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>리뷰 수정</title>
    <th:block th:include="fragments/header"></th:block>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto w-75">
                <h3 class="text-center pb-5"><strong>리뷰 수정</strong></h3>

                <!-- 책 정보 -->
                <div class="row">
                    <div class="col-auto">
                        <img class="book-image" th:src="${book.image}" alt="...">
                    </div>
                    <div class="col">
                        <h5 class="font-weight-bold book-title" th:utext="${book.title}"></h5>
                        <p class="mb-0">
                            <span class="book-author" th:text="${book.author} + ' 지음'"></span>
                        </p>
                        <input type="hidden" id="bookId" name="bookId" th:value="${book.id}">
                    </div>
                </div>
                <hr>
                <!-- 리뷰 작성란 -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" th:value="${post.subject}" required>
                        <input type="hidden" id="postId" name="postId" th:value="${post.id}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="summernote" name="content" th:utext="${post.content}" maxlength="140" rows="7"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a type="button" class="btn btn-secondary mr-2" th:href="'/posts/' + ${post.id}">취소</a>
                        <button type="button" id="btn-update" class="btn btn-primary">수정 완료</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/posts-update.js"></script>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>