<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>도서 검색</title>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <!-- 검색창 -->
    <div class="container my-5 text-center">
        <form action="/search/book" method="GET">
            <div class="form-row align-items-center">
                <div class="col"></div>
                <div class="col-7">
                    <input type="search" class="form-control mb-2" name="query" id="query"
                           th:value="${books==null ? null : books.query}" placeholder="책 제목, 저자, 출판사 등" required>
                    <input type="hidden" name="start" value="1">
                    <input type="hidden" name="display" value="10">
                </div>
                <div class="col-2">
                    <button type="submit" id="btn-search" class="btn btn-info btn-block mb-2">검색</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>

    <!-- 검색 결과 -->
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto">
                <div th:if="${books == null}" class="text-center">
                    <h4><strong>원하는 책을 검색한 뒤 리뷰를 작성해보세요~!</strong></h4>
                </div>
                <th:block th:if="${books != null}">
                    <h5 class="text-center"><strong>검색 결과</strong></h5>
                    <div th:if="${books.items.empty}">검색 결과가 없습니다.</div>
                    <th:block th:each="book:${books.items}">
                        <hr>
                        <div class="card border-0" style="max-width: 750px;">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <img class="card-img img-thumbnail book-image" th:src="${book.image}" alt="...">
                                </div>
                                <div class="col">
                                    <div class="card-body py-1">
                                        <h6 class="card-title mb-0 book-title" th:utext="${book.title}"></h6>
                                        <p class="card-text mb-0 text-muted">
                                            <span class="book-author" th:utext="${book.author}"></span> 지음 |
                                            <span class="book-publisher" th:utext="${book.publisher}"></span> |
                                            <span class="book-pubdate" th:utext="${book.pubdate}"></span>
                                            <input type="hidden" class="book-isbn" th:value="${book.isbn}">
                                        </p>
                                        <p class="card-text"><small class="text-muted book-description" th:utext="${book.description}"></small></p>
                                        <button type="button" class="btn btn-info btn-write">리뷰 작성</button>
                                        <button type="button" class="btn btn-secondary btn-review">리뷰 보기</button>
                                        <a class="btn btn-success book-link" th:href="${book.link}" target="_blank">
                                            <img src="/img/app/naver_img.png" width="18px" height="18px"/> 상세 정보</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- pagination -->
    <div th:if="${books != null}" class="container my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a th:if="${!books.first}" type="button" class="btn btn-secondary"
                       th:href="@{/search/book(query=${books.query}, start=${books.start-10}, display=10)}">이전 페이지</a>
                    <a th:if="${books.first}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">이전 페이지</a>
                    <a th:if="${!books.last}" type="button" class="btn btn-secondary"
                       th:href="@{/search/book(query=${books.query}, start=${books.start+10}, display=10)}">다음 페이지</a>
                    <a th:if="${books.last}" href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">다음 페이지</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/search-book.js"></script>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>