<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>내 정보</title>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
    <th:block th:include="fragments/nav-bar"></th:block>
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-auto w-75 text-center">
                <h3><strong>내 정보</strong></h3>
                <p class="text-muted" th:text="${user.provider} + '에서 제공되는 정보입니다.'"></p>
                <div class="row">
                    <div class="col">
                        <img th:src="${user.picture}" alt="..." style="width:60px; height:60px;">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 text-secondary font-weight-bold"><p>닉네임</p></div>
                    <div class="col-9">
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="px-3" th:text="${user.nickname}"></p>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nickModal">닉네임 변경</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 text-secondary font-weight-bold"><p>이메일</p></div>
                    <div class="col-9">
                        <div class="d-flex justify-content-center align-items-center">
                            <p th:if="${user.provider.equals('카카오')}">등록된 이메일이 없습니다.</p>
                            <p th:unless="${user.provider.equals('카카오')}" th:text="${user.email}"></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 text-secondary font-weight-bold"><p>이름</p></div>
                    <div class="col-9">
                        <p class="my-0" th:text="${user.name}"></p>
                        <p class="my-0"><small class="text-muted">다른 사용자에게 공개되지 않습니다.</small></p>
                    </div>
                </div>
                <hr>

                <button class="btn btn-danger my-5">탈퇴하기</button>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="nickModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="nickModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nickModalLabel"><strong>닉네임 변경</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-9">
                                <input type="text" class="form-control mb-2" id="nickname" name="nickname" maxlength="6" placeholder="닉네임 입력" is-checked="false" required>
                                <input type="hidden" id="userId" name="userId" th:value="${user.id}">
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-secondary mb-2" id="check-nick">중복 확인</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-auto" id="checked-msg"></div>
                        </div>
                        <button type="button" class="btn btn-info btn-block" id="btn-submit">닉네임 변경</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="fragments/footer"></th:block>
    <script src="/js/app/user-info.js"></script>
    <script src="/js/app/nav-bar.js"></script>
</body>
</html>